<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Module id="${project.name}" class="edu.casetools.rcase.module.impl.RCaseModule" binaryversion="3.5.00" version="${project.version}" schema-level="2" uid="e72aca77-aa9a-4a78-85d0-f41a487effb9">
    <ClassPath>
        <PathEntry path="lib/${project.artifactId}-${project.version}.jar"/>
        <PathEntry path="lib/poi-3.14-20160307.jar"/>
        <PathEntry path="lib/poi-ooxml-schemas-3.14-20160307.jar"/>
        <PathEntry path="lib/poi-ooxml-3.14-20160307.jar"/>
        <PathEntry path="lib/xmlbeans-2.6.0.jar"/>
        <PathEntry path="xml-apis-2.0.2.jar"/>
        <PathEntry path="lib/commons-lang3-3.1.jar"/>
    </ClassPath>
    <Profiles>
        <Profile uid="2cdf2f6e-9dd9-4ba7-9ac7-03aaa252b749" id="rcase.entities">
            <Stereotype name="DiagramStereotype" metaclass="StaticDiagram" is-hidden="false" label="%DiagramStereotype.label" uid="dffece0a-4ca4-41d9-ba2d-679df37dfb27">
                <Icon path="res/icons/context_diagram.png"/>
                <Image path="res/icons/context_diagram.png"/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="RequirementDiagram" metaclass="StaticDiagram" is-hidden="false" label="%RequirementsDiagramStereotype.label" uid="ef810f79-c808-4f48-943f-27c2d8c74333">
                <Icon path="res/icons/requirements_diagram.png"/>
                <Image path="res/icons/requirements_diagram.png"/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="UseCaseDiagram" metaclass="UseCaseDiagram" is-hidden="false" label="%UseCaseDiagramStereotype.label" uid="7b6c0ef8-e2a3-4a6f-9838-33edbe9e1a1b">
                <Icon path="res/icons/usecase_diagram.png"/>
                <Image path="res/icons/usecase_diagram.png"/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="UseCaseStereotype" metaclass="UseCase" is-hidden="false" label="Use Case" uid="3de1e727-2eaa-446e-a61f-4df78ee9ec09">
                <Icon path="res/icons/usecase_16.png"/>
                <Image path="res/icons/usecase_16.png"/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="NoteStereotype" metaclass="Note" is-hidden="false" label="%NoteStereotype.label" uid="82e224c6-b692-4391-8d79-b42b5ee02cac">
                <Icon path="res/icons/note_16.png"/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="SituationalParameterStereotype" metaclass="Class" is-hidden="false" label="%SituationalParameterStereotype.label" uid="3e8ce7a4-43d1-46b2-963a-3ea01c20dc60">
                <Icon path="res/icons/context_16.png"/>
                <Image path="res/icons/context_look_64.png"/>
                <TagTypes>
                    <TagType name="CETagId" uid="8790413a-37c1-4222-a99d-1e45a92fa80d" label="%SituationalParameterStereotype.properties.id" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="TagCost" uid="b3912a7f-cb03-425c-bd4f-eb995a3bb727" label="%SituationalParameterStereotype.properties.cost" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="TagStatus" uid="9c72e01e-df2f-484a-9191-02a13a69ca26" label="%SituationalParameterStereotype.properties.status" parameter-card="2" is-hidden="false" is-signed="false"/>
                    <TagType name="TagCreationProcess" uid="ce358a44-c103-4db6-a861-dc33beb96964" label="%SituationalParameterStereotype.properties.creationProcess" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="TagUserInvolvement" uid="2ab91184-f1af-4179-a182-aa6f9ea7d346" label="%SituationalParameterStereotype.properties.userInvolvement" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="TagVolatility" uid="46952323-adcb-436d-9950-5b4b9df2f2a0" label="%SituationalParameterStereotype.properties.volatility" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
                <NoteTypes>
                    <NoteType name="ContextNote" label="Note" is-hidden="false" uid="990cb938-bf1d-49e4-af37-4389def2752d"/>
                </NoteTypes>
            </Stereotype>
            <Stereotype name="SituationOfInterestStereotype" metaclass="Class" is-hidden="false" label="%SituationOfInterestStereotype.label" uid="7454269e-aa2f-4534-8d2a-4224ccca5577">
                <Icon path="res/icons/situation_16.png"/>
                <Image path="res/icons/situation_64.png"/>
                <TagTypes>
                    <TagType name="SOIId" uid="28536190-5b6e-4a32-88df-17b2a9feef03" label="%SituationOfInterestStereotype.properties.id" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="SOIText" uid="8b8b9cb6-5186-4fb1-8f14-f39932a05346" label="%SituationOfInterestStereotype.properties.description" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="RequirementStereotype" metaclass="Class" is-hidden="false" label="%RequirementStereotype.label" uid="ab289f43-9605-4853-a2f9-03e665e2754a">
                <Icon path="res/icons/requirements_16.png"/>
                <Image path="res/icons/requirements_64.png"/>
                <TagTypes>
                    <TagType name="ReqTagId" uid="10c44c3f-75d8-4d12-830f-197cf428449e" label="%RequirementStereotype.properties.id" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="TagText" uid="11aafaca-cd1a-4006-8f09-816ca7a57b7b" label="$RequirementStereotype.properties.description" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="RequirementContainerStereotype" metaclass="Package" is-hidden="false" label="%RequirementContainerStereotype.label" uid="cb19ff30-98c8-43f1-b098-e5d8ceba2782">
                <Icon path="res/icons/requirements_container_16.png"/>
                <Image path="%RequirementTool.image"/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="TestCaseStereotype" metaclass="Class" is-hidden="false" label="Test Case" uid="7908ce65-ef46-44c9-9d38-a5c7567f01b3">
                <Icon path="res/icons/testcase_16.png"/>
                <Image path="res/icons/testcase_64.png"/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="TriggersStereotype" metaclass="Dependency" is-hidden="false" label="%TriggersStereotype.label" uid="b62eca7a-05f3-481b-a29d-24899f211a5c">
                <Icon path="%ContextDependencyTool.image"/>
                <Image path="%ContextDependencyTool.image"/>
                <TagTypes/>
                <NoteTypes>
                    <NoteType name="ContextNote" label="Note" is-hidden="false" uid="2e73c34c-3c7d-483e-b81a-7a8fc47a4bf2"/>
                </NoteTypes>
            </Stereotype>
            <Stereotype name="ContextDependencyStereotype" metaclass="Dependency" is-hidden="false" label="%ContextDependencyStereotype.label" uid="51d9ee5e-84f2-4f31-bbfe-5c2ac97d5569">
                <Icon path="%ContextDependencyTool.image"/>
                <Image path="%ContextDependencyTool.image"/>
                <TagTypes/>
                <NoteTypes>
                    <NoteType name="ContextNote" label="Note" is-hidden="false" uid="4fd86e3d-7bc6-41f4-b287-4eb1fff24ca8"/>
                </NoteTypes>
            </Stereotype>
            <Stereotype name="IdentifiesStereotype" metaclass="Dependency" is-hidden="false" label="%IdentifiesStereotype.label" uid="a5f97076-da2d-4f08-b391-9c0a9341e6f0">
                <Icon path="%IdentifiesTool.image"/>
                <Image path="%IdentifiesTool.image"/>
                <TagTypes/>
                <NoteTypes>
                    <NoteType name="ContextNote" label="Note" is-hidden="false" uid="3263be86-f7ad-4f94-9e69-3026779bed15"/>
                </NoteTypes>
            </Stereotype>
            <Stereotype name="ContextDeriveStereotype" metaclass="Dependency" is-hidden="false" label="%ContextDeriveStereotype.label" uid="f65478dc-7d4e-4d4f-891a-9fc076915c58">
                <Icon path="%ContextDeriveTool.image"/>
                <Image path="%ContextDeriveTool.image"/>
                <TagTypes/>
                <NoteTypes>
                    <NoteType name="ContextNote" label="Note" is-hidden="false" uid="cc1db9d0-4fc4-4b8a-9a36-5c3c3b74752d"/>
                </NoteTypes>
            </Stereotype>
            <Stereotype name="DeriveStereotype" metaclass="Dependency" is-hidden="false" label="%DeriveStereotype.label" uid="bee908f6-3a27-4708-b415-fc0028625df0">
                <Icon path="%DeriveStereotype.image"/>
                <Image path="%DeriveStereotype.image"/>
                <TagTypes/>
                <NoteTypes>
                    <NoteType name="ContextNote" label="Note" is-hidden="false" uid="5ee94cdc-adbb-40be-946d-e5b8d014e888"/>
                </NoteTypes>
            </Stereotype>
            <Stereotype name="SatisfyStereotype" metaclass="Dependency" is-hidden="false" label="%SatisfyStereotype.label" uid="e149af64-3d69-4b6e-b09a-3a46c31c4804">
                <Icon path="%SatisfyStereotype.image"/>
                <Image path="%SatisfyStereotype.image"/>
                <TagTypes/>
                <NoteTypes>
                    <NoteType name="ContextNote" label="Note" is-hidden="false" uid="9bf849b7-7b25-46af-a712-4991fa092e94"/>
                </NoteTypes>
            </Stereotype>
            <Stereotype name="VerifyStereotype" metaclass="Dependency" is-hidden="false" label="%VerifyStereotype.label" uid="cdbd29f6-9bdf-4575-83aa-0f453d119769">
                <Icon path="%VerifyStereotype.image"/>
                <Image path="%VerifyStereotype.image"/>
                <TagTypes/>
                <NoteTypes>
                    <NoteType name="ContextNote" label="Note" is-hidden="false" uid="931e9758-9375-4c01-90b5-f02183460fe0"/>
                </NoteTypes>
            </Stereotype>
            <Stereotype name="RefineStereotype" metaclass="Dependency" is-hidden="false" label="%RefineStereotype.label" uid="ce120e4a-84e7-44aa-abf6-ab8c048484c2">
                <Icon path="%RefineStereotype.image"/>
                <Image path="%RefineStereotype.image"/>
                <TagTypes/>
                <NoteTypes>
                    <NoteType name="ContextNote" label="Note" is-hidden="false" uid="53e4bd90-7f49-42fb-8448-0ebafb9136f8"/>
                </NoteTypes>
            </Stereotype>
            <Stereotype name="CopyStereotype" metaclass="Dependency" is-hidden="false" label="Copy" uid="a8e923e2-f188-4cf6-8be1-a798154206ac">
                <Icon path="res/icons/copy.png"/>
                <Image path="res/icons/copy.png"/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="PartStereotype" metaclass="Dependency" is-hidden="false" label="Part" uid="61732314-f937-496a-95ef-0ba24d13ee54">
                <Icon path="res/icons/part.png"/>
                <Image path="res/icons/part.png"/>
                <TagTypes/>
            </Stereotype>
            <MetaclassReference uid="08dbbc2b-9618-430c-823c-0795122efa3a" metaclass="ModelElement">
                <TagTypes>
                    <TagType name="TagName" uid="2727e4d0-b3ae-4518-85af-1639a76380e6" label="Name" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
                <NoteTypes>
                    <NoteType name="Problem" label="Problem" is-hidden="false" uid="b5120441-da57-439c-b6da-c383c5e62ed7"/>
                    <NoteType name="Rationale" label="Rationale" is-hidden="false" uid="007ccf10-4bc5-403d-98db-2e6dd57d4e1d"/>
                </NoteTypes>
            </MetaclassReference>
        </Profile>
    </Profiles>
    <Parameters/>
    <Gui>
        <Commands>
            <Command id="OpenDependencyTable" label="%OpenDependencyTable.label" tooltip="%OpenDependencyTable.tooltip" image="%OpenDependencyTable.image" group="%OpenDependencyTable.group" modify-model="true" group-image="%OpenDependencyTable.groupimage">
                <Scope metaclass="ModelTree"/>
                <Handler class="edu.casetools.rcase.modelio.menu.tables.OpenDependencyTable"/>
            </Command>
            <Command id="OpenContainerTable" label="%OpenContainerTable.label" tooltip="%OpenContainerTable.tooltip" image="%OpenContainerTable.image" group="%OpenContainerTable.group" modify-model="true" group-image="%OpenContainerTable.groupimage">
                <Scope metaclass="ModelTree"/>
                <Handler class="edu.casetools.rcase.modelio.menu.tables.OpenContainerTable"/>
            </Command>
            <Command id="OpenContextModelTable" label="%OpenContextModelTable.label" tooltip="%OpenContextModelTable.tooltip" image="%OpenContextModelTable.image" group="%OpenContextModelTable.group" modify-model="true" group-image="%OpenContextModelTable.groupimage">
                <Scope metaclass="ModelTree"/>
                <Handler class="edu.casetools.rcase.modelio.menu.tables.OpenContextModelTable"/>
            </Command>
            <Command id="CreateRequirement" label="%CreateRequirement.label" tooltip="%CreateRequirement.tooltip" image="%CreateRequirement.image" group="%CreateRequirement.group" modify-model="true" group-image="%CreateRequirement.groupimage">
                <Scope metaclass="ModelTree"/>
                <Handler class="edu.casetools.rcase.modelio.menu.nodes.CreateRequirement">
                    <HParameter name="metaclass" value="Requirement"/>
                    <HParameter name="stereotype" value="RequirementStereotype"/>
                </Handler>
            </Command>
            <Command id="CreateSituationOfInterest" label="%CreateSituationOfInterest.label" tooltip="%CreateSituationOfInterest.tooltip" image="%CreateSituationOfInterest.image" group="%CreateSituationOfInterest.group" modify-model="true" group-image="%CreateSituationOfInterest.groupimage">
                <Scope metaclass="ModelTree"/>
                <Handler class="edu.casetools.rcase.modelio.menu.nodes.CreateSituationOfInterest">
                    <HParameter name="metaclass" value="SituationOfInteres"/>
                    <HParameter name="stereotype" value="SituationOfInterestStereotype"/>
                </Handler>
            </Command>
            <Command id="CreateRequirementContainer" label="%CreateRequirementContainer.label" tooltip="%CreateRequirementContainer.tooltip" image="%CreateRequirementContainer.image" group="%CreateRequirementContainer.group" modify-model="true" group-image="%CreateRequirementContainer.groupimage">
                <Scope metaclass="ModelTree"/>
                <Handler class="edu.casetools.rcase.modelio.menu.nodes.CreateRequirementContainer">
                    <HParameter name="metaclass" value="RequirementContainer"/>
                    <HParameter name="stereotype" value="RequirementContainerStereotype"/>
                </Handler>
            </Command>
            <Command id="CreateTestCase" label="%CreateTestCase.label" tooltip="%CreateTestCase.tooltip" image="%CreateTestCase.image" group="%CreateTestCase.group" modify-model="true" group-image="%CreateTestCase.groupimage">
                <Scope metaclass="ModelTree"/>
                <Handler class="edu.casetools.rcase.modelio.menu.nodes.CreateTestCase">
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="TestCase"/>
                </Handler>
            </Command>
            <Command id="CreateUseCase" label="%CreateUseCase.label" tooltip="%CreateUseCase.tooltip" image="%CreateUseCase.image" group="%CreateUseCase.group" modify-model="true" group-image="%CreateUseCase.groupimage">
                <Scope metaclass="ModelTree"/>
                <Handler class="edu.casetools.rcase.modelio.menu.nodes.CreateUseCase">
                    <HParameter name="metaclass" value="UseCase"/>
                    <HParameter name="stereotype" value="UseCaseStereotype"/>
                </Handler>
            </Command>
            <Command id="CreateSituationalParameter" label="%CreateSituationalParameter.label" tooltip="%CreateSituationalParameter.tooltip" image="%CreateSituationalParameter.image" group="%CreateSituationalParameter.group" modify-model="true" group-image="%CreateSituationalParameter.groupimage">
                <Scope metaclass="Package"/>
                <Scope metaclass="Class"/>
                <Handler class="edu.casetools.rcase.modelio.menu.nodes.CreateSituationalParameter"/>
            </Command>
            <Command id="ContextDependencyDiagram" label="%ContextDependencyDiagram.label" tooltip="%ContextDependencyDiagram.tooltip" image="%ContextDependencyDiagram.image" group="%ContextDependencyDiagram.group" modify-model="true" group-image="%ContextDependencyDiagram.groupimage">
                <Handler class="edu.casetools.rcase.modelio.menu.diagrams.CreateContextDependencyDiagram"/>
            </Command>
            <Command id="CreateRequirementsDiagram" label="%CreateRequirementsDiagram.label" tooltip="%CreateRequirementsDiagram.tooltip" image="%CreateRequirementsDiagram.image" group="%CreateRequirementsDiagram.group" modify-model="true" group-image="%CreateRequirementsDiagram.groupimage">
                <Scope metaclass="ModelTree"/>
                <Handler class="edu.casetools.rcase.modelio.menu.diagrams.CreateRequirementsDiagram"/>
            </Command>
            <Command id="CreateUseCaseDiagram" label="%CreateUseCaseDiagram.label" tooltip="%CreateUseCaseDiagram.tooltip" image="%CreateUseCaseDiagram.image" group="%CreateUseCaseDiagram.group" modify-model="true" group-image="%CreateUseCaseDiagram.groupimage">
                <Scope metaclass="ModelTree"/>
                <Handler class="edu.casetools.rcase.modelio.menu.diagrams.CreateUseCaseDiagram"/>
            </Command>
        </Commands>
        <Tools>
            <Tool id="UseCaseTool" label="%UseCaseTool.label" tooltip="%UseCaseTool.tooltip" image="%UseCaseTool.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.usecase.tools.UseCaseTool">
                    <HParameter name="metaclass" value="UseCase"/>
                    <HParameter name="stereotype" value="UseCaseStereotype"/>
                </Handler>
            </Tool>
            <Tool id="NoteTool" label="%NoteTool.label" tooltip="%NoteTool.tooltip" image="%NoteTool.image">
                <Scope-target stereotype="DiagramStereotype"/>
                <Handler class="edu.casetools.rcase.modelio.diagrams.context.tools.notes.ContextNoteTool">
                    <HParameter name="metaclass" value="Note"/>
                    <HParameter name="stereotype" value="NoteStereotype"/>
                </Handler>
            </Tool>
            <Tool id="SituationalParameterTool" label="%SituationalParameterTool.label" tooltip="%SituationalParameterTool.tooltip" image="%SituationalParameterTool.image">
                <Scope-target metaclass="ModelTree"/>
                <Handler class="edu.casetools.rcase.modelio.diagrams.context.tools.elements.SituationalParameterTool">
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="SituationalParameterStereotype"/>
                </Handler>
            </Tool>
            <Tool id="RequirementTool" label="%RequirementTool.label" tooltip="%RequirementTool.tooltip" image="%RequirementTool.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.requirements.tools.elements.RequirementTool">
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="RequirementStereotype"/>
                </Handler>
            </Tool>
            <Tool id="SituationOfInterestTool" label="%SituationOfInterestTool.label" tooltip="%SituationOfInterestTool.tooltip" image="%SituationOfInterestTool.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.requirements.tools.elements.SituationOfInterestTool">
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="SituationOfInterestStereotype"/>
                </Handler>
            </Tool>
            <Tool id="RequirementContainerTool" label="%RequirementContainerTool.label" tooltip="%RequirementContainerTool.tooltip" image="%RequirementContainerTool.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.requirements.tools.elements.RequirementContainerTool">
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="RequirementContainerStereotype"/>
                </Handler>
            </Tool>
            <Tool id="TestCaseTool" label="%TestCaseTool.label" tooltip="%TestCaseTool.tooltip" image="%TestCaseTool.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.requirements.tools.elements.TestCaseTool">
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="TestCaseStereotype"/>
                </Handler>
            </Tool>
            <Tool id="TriggersTool" label="%TriggersTool.label" tooltip="%TriggersTool.tooltip" image="%TriggersTool.image">
                <Scope-source metaclass="SituationalParameterStereotype"/>
                <Scope-target stereotype="ModelTree"/>
                <Handler class="edu.casetools.rcase.modelio.diagrams.requirements.tools.relations.TriggersTool">
                    <HParameter name="metaclass" value="Dependency"/>
                    <HParameter name="stereotype" value="TriggersStereotype"/>
                </Handler>
            </Tool>
            <Tool id="ContextDependencyTool" label="%ContextDependencyTool.label" tooltip="%ContextDependencyTool.tooltip" image="%ContextDependencyTool.image">
                <Scope-source metaclass="ModelTree"/>
                <Scope-target stereotype="SituationalParameterStereotype"/>
                <Handler class="edu.casetools.rcase.modelio.diagrams.context.tools.relations.ContextDependencyTool">
                    <HParameter name="metaclass" value="Dependency"/>
                    <HParameter name="stereotype" value="ContextDependencyStereotype"/>
                </Handler>
            </Tool>
            <Tool id="IdentifiesTool" label="%IdentifiesTool.label" tooltip="%IdentifiesTool.tooltip" image="%IdentifiesTool.image">
                <Scope-source metaclass="ModelTree"/>
                <Scope-target stereotype="IdentifiesStereotype"/>
                <Handler class="edu.casetools.rcase.modelio.diagrams.context.tools.relations.IdentifiesTool">
                    <HParameter name="metaclass" value="Dependency"/>
                    <HParameter name="stereotype" value="IdentifiesStereotype"/>
                </Handler>
            </Tool>
            <Tool id="ContextDeriveTool" label="%ContextDeriveTool.label" tooltip="%ContextDeriveTool.tooltip" image="%ContextDeriveTool.image">
                <Scope-source stereotype="SituationalParameterStereotype"/>
                <Scope-target stereotype="SituationalParameterStereotype"/>
                <Handler class="edu.casetools.rcase.modelio.diagrams.context.tools.relations.DeriveTool">
                    <HParameter name="metaclass" value="Dependency"/>
                    <HParameter name="stereotype" value="ContextDeriveStereotype"/>
                </Handler>
            </Tool>
            <Tool id="Problem" label="%Problem.label" tooltip="%Problem.tooltip" image="%Problem.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.context.tools.notes.ProblemNoteTool">
                    <HParameter name="metaclass" value="Note"/>
                </Handler>
            </Tool>
            <Tool id="Rationale" label="%Rationale.label" tooltip="%Rationale.tooltip" image="%Rationale.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.context.tools.notes.RationaleNoteTool">
                    <HParameter name="metaclass" value="Note"/>
                </Handler>
            </Tool>
            <Tool id="ReqPart" label="%Part.label" tooltip="%Part.tooltip" image="%Part.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.requirements.tools.relations.PartTool">
                    <HParameter name="metaclass" value="Dependency"/>
                    <HParameter name="stereotype" value="PartStereotype"/>
                </Handler>
            </Tool>
            <Tool id="ReqCopy" label="%Copy.label" tooltip="%Copy.tooltip" image="%Copy.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.requirements.tools.relations.CopyTool">
                    <HParameter name="metaclass" value="Dependency"/>
                    <HParameter name="stereotype" value="CopyStereotype"/>
                </Handler>
            </Tool>
            <Tool id="ReqDerive" label="%ContextDeriveTool.label" tooltip="%ContextDeriveTool.tooltip" image="%ContextDeriveTool.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.requirements.tools.relations.ReqDeriveTool">
                    <HParameter name="metaclass" value="Dependency"/>
                    <HParameter name="stereotype" value="DeriveStereotype"/>
                </Handler>
            </Tool>
            <Tool id="ReqSatisfy" label="%Satisfy.label" tooltip="%Satisfy.tooltip" image="%Satisfy.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.requirements.tools.relations.SatisfyTool">
                    <HParameter name="metaclass" value="Dependency"/>
                    <HParameter name="stereotype" value="SatisfyStereotype"/>
                </Handler>
            </Tool>
            <Tool id="ReqVerify" label="%Verify.label" tooltip="%Verify.tooltip" image="%Verify.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.requirements.tools.relations.VerifyTool">
                    <HParameter name="metaclass" value="Dependency"/>
                    <HParameter name="stereotype" value="VerifyStereotype"/>
                </Handler>
            </Tool>
            <Tool id="ReqRefine" label="%Refine.label" tooltip="%Refine.tooltip" image="%Refine.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.requirements.tools.relations.RefineTool">
                    <HParameter name="metaclass" value="Dependency"/>
                    <HParameter name="stereotype" value="RefineStereotype"/>
                </Handler>
            </Tool>
        </Tools>
        <ContextualMenu>
            <CommandRef refid="CreateUseCase"/>
            <CommandRef refid="CreateRequirementContainer"/>
            <CommandRef refid="CreateRequirement"/>
            <CommandRef refid="CreateSituationOfInterest"/>
            <CommandRef refid="CreateTestCase"/>
            <CommandRef refid="CreateSituationalParameter"/>
            <CommandRef refid="CreateRequirementsDiagram"/>
            <CommandRef refid="CreateUseCaseDiagram"/>
            <CommandRef refid="ContextDependencyDiagram"/>
            <CommandRef refid="OpenContainerTable"/>
            <CommandRef refid="OpenDependencyTable"/>
            <CommandRef refid="OpenContextModelTable"/>
        </ContextualMenu>
        <Diagrams>
            <DiagramType base-diagram="StaticDiagram" stereotype="DiagramStereotype">
                <Handler class="edu.casetools.rcase.modelio.diagrams.context.ContextDependencyDiagramCustomizer"/>
            </DiagramType>
            <DiagramType base-diagram="UseCaseDiagram" stereotype="UseCaseDiagram">
                <Handler class="edu.casetools.rcase.modelio.diagrams.usecase.UseCaseDiagramCustomizer"/>
            </DiagramType>
            <DiagramType base-diagram="StaticDiagram" stereotype="RequirementDiagram">
                <Palette keepBasePalette="false"/>
                <Handler class="edu.casetools.rcase.modelio.diagrams.requirements.RequirementDiagramCustomizer"/>
            </DiagramType>
        </Diagrams>
        <Views>
            <PropertyPage id="RcasePropertyPage" class="edu.casetools.rcase.modelio.properties.RcasePropertyPage" label="%SituationalParameterTool.PropertyPage.label" image="%SituationalParameterTool.PropertyPage.image"/>
        </Views>
    </Gui>
    <Dependencies>
        <Required name="ModelerModule" version="8.4.05.9023"/>
    </Dependencies>
</Module>
