<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Module id="${project.name}" class="edu.casetools.rcase.module.impl.RCaseModule" binaryversion="3.7.00" version="${project.version}" schema-level="2" uid="e72aca77-aa9a-4a78-85d0-f41a487effb9">
    <ClassPath>
        <PathEntry path="lib/${project.artifactId}-${project.version}.jar"/>
        <PathEntry path="lib/commons-lang3-3.1.jar"/>
        <PathEntry path="lib/poi-3.14.jar"/>
        <PathEntry path="lib/poi-ooxml-3.14.jar"/>
        <PathEntry path="lib/poi-ooxml-schemas-3.14.jar"/>
        <PathEntry path="lib/xml-apis-2.0.2.jar"/>
        <PathEntry path="lib/xmlbeans-2.6.0.jar"/>
    </ClassPath>
    <Profiles>
        <Profile uid="2cdf2f6e-9dd9-4ba7-9ac7-03aaa252b749" id="rcase.entities">
            <Stereotype name="StakeholderDiagramStereotype" metaclass="StaticDiagram" is-hidden="false" label="%StakeholderDiagramStereotype.label" uid="10111770-bfe4-4a03-9bff-947e23685c22">
                <Icon path="res/icons/stakeholder/stakeholder_diagram.png"/>
            </Stereotype>
            <Stereotype name="StakeholderStereotype" metaclass="Class" is-hidden="false" label="%StakeholderStereotype.label" uid="bb1c77b2-2128-4d8d-ae67-9cdfff8acdd5">
                <Icon path="res/icons/stakeholder/element/stakeholder_16.png"/>
                <Image path="res/icons/stakeholder/element/stakeholder_64.png"/>
                <TagTypes>
                    <TagType name="StakTagId" uid="246cb680-413a-4936-9dd9-4363ab5d138b" label="%StakeholderStereotype.properties.id" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="StakTagDescription" uid="990034d6-506b-46dd-9d4c-2b8f399d744d" label="$StakeholderStereotype.properties.description" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="StakTagType" uid="e8361356-c825-44df-a2d7-8f35fed3750f" label="%StakeholderStereotype.properties.type" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="StakTagSupport" uid="b1decfb3-8fb3-4b8b-a01e-55605b16d732" label="$StakeholderStereotype.properties.support" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="StakTagPower" uid="a9b5168b-f8dd-494c-b3bc-64e3ec197367" label="$StakeholderStereotype.properties.power" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="UserProfileStereotype" metaclass="Class" is-hidden="false" label="%UserProfileStereotype.label" uid="1481b9ff-6b4c-44f4-86dd-db684e52c4b7">
                <Icon path="res/icons/stakeholder/element/userprofile_16.png"/>
                <Image path="res/icons/stakeholder/element/userprofile_64.png"/>
            </Stereotype>
            <Stereotype name="ValueStereotype" metaclass="Class" is-hidden="false" label="%ValueStereotype.label" uid="c8edfdf9-b9e6-4be1-9971-49867221ba47">
                <Icon path="res/icons/stakeholder/element/value_16.png"/>
                <TagTypes>
                    <TagType name="ValueTagId" uid="44b3adc3-a130-4300-ba6d-ad7a3ccc1378" label="%ValueStereotype.properties.id" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="ValueTagDescription" uid="979414f1-393d-4631-8b99-19c29058f8fc" label="$ValueStereotype.properties.description" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="ValueTagType" uid="8a15e975-5335-415d-9e1b-9d13231c80d1" label="%ValueStereotype.properties.govdependency" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="ValueEnhancerStereotype" metaclass="Class" is-hidden="false" label="%ValueEnhancerStereotype.label" uid="44f3b074-d690-4074-a80a-e5f996f20d92">
                <Icon path="res/icons/stakeholder/element/valuenhancer_16.png"/>
                <TagTypes>
                    <TagType name="ValueEnhTagId" uid="99e9067b-be43-42d8-b7ee-6958bced0641" label="%ValueEnhancerStereotype.properties.id" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="ValueEnhTagDescription" uid="d5e2a98c-d996-4f09-b04d-cc427edfde44" label="$ValueEnhancerStereotype.properties.description" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="ValueEnhTagType" uid="cb80e4d7-a88b-4bcd-a0fd-167fb651d008" label="%ValueEnhancerStereotype.properties.govdependency" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="ParticipationStereotype" metaclass="Class" is-hidden="false" label="%ParticipationStereotype.label" uid="a4fd40ac-7af3-4f2a-9c87-ca241896ae92">
                <Icon path="res/icons/stakeholder/element/participation_16.png"/>
                <TagTypes>
                    <TagType name="PartTagId" uid="bda6ca13-e173-4a89-9306-fafe7e4c2e5b" label="%ParticipationStereotype.properties.id" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="PartTagDescription" uid="0907559d-9f7e-4749-8560-aa3efe19c25c" label="$ParticipationStereotype.properties.description" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="PartTagType" uid="3937a714-8f4e-47f0-9dd3-607dd9ea47ba" label="%ParticipationStereotype.properties.govdependency" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="EthicalProfileStereotype" metaclass="Class" is-hidden="false" label="%EthicalProfileStereotype.label" uid="fc001824-90da-44a2-8630-e184f76154b2">
                <Icon path="res/icons/stakeholder/element/ethicalprofile_16.png"/>
                <TagTypes>
                    <TagType name="EthProfTagId" uid="62c94b9d-b48f-4a41-9942-ffc7753bb53c" label="%EthicalProfileStereotype.properties.id" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="EthTagDescription" uid="bd518b02-4a44-4ba0-9110-03a66ee1d9b5" label="$EthicalProfileStereotype.properties.description" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="EthTagGovDependency" uid="2effb4e0-99e9-483c-86b5-e011a1f5f6ff" label="%EthicalProfileStereotype.properties.govdependency" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="EthTagVulnerability" uid="586a799e-4698-4d60-af58-9666fd003d29" label="$EthicalProfileStereotype.properties.vulnerability" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="EthTagGravity" uid="2a2121e6-d119-4517-b193-4f5cd958991b" label="$EthicalProfileStereotype.properties.gravity" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="EthTagValueInRisk" uid="d33ffe7b-164e-4ac1-b220-fd9155c0d225" label="$EthicalProfileStereotype.properties.valueinrisk" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="EthTagPolicyImpact" uid="c37eb22e-8c87-4525-a19a-91b99fc5654a" label="$EthicalProfileStereotype.properties.policyimpact" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="GridStereotype" metaclass="Package" is-hidden="false" label="%GridStereotype.label" uid="e5639866-72f6-42e6-89ee-f388e854a0a5">
                <Icon path="res/icons/stakeholder/element/grid_16.png"/>
            </Stereotype>
            <Stereotype name="InterestedInStereotype" metaclass="Dependency" is-hidden="false" label="%InterestedInStereotype.label" uid="8fdbf90f-1649-4f74-a1fa-8605ef202510">
                <Icon path="res/icons/stakeholder/relation/interestedin_16.png"/>
            </Stereotype>
            <Stereotype name="RequestStereotype" metaclass="Dependency" is-hidden="false" label="%RequestStereotype.label" uid="ead77ad4-0284-4521-b285-c5b1f339e149">
                <Icon path="res/icons/stakeholder/relation/request_16.png"/>
            </Stereotype>
            <Stereotype name="ProvideStereotype" metaclass="Dependency" is-hidden="false" label="%ProvideStereotype.label" uid="6073afda-18f6-4d60-bf01-a40563300d55">
                <Icon path="res/icons/stakeholder/relation/provide_16.png"/>
            </Stereotype>
            <Stereotype name="HasStereotype" metaclass="Dependency" is-hidden="false" label="%HasStereotype.label" uid="744e4f0b-d962-4c5d-a9ce-9984440d8eff">
                <Icon path="res/icons/stakeholder/relation/has_16.png"/>
            </Stereotype>
            <Stereotype name="ObjectiveDiagramStereotype" metaclass="StaticDiagram" is-hidden="false" label="%ObjectiveDiagramStereotype.label" uid="">
                <Icon path="res/icons/objective_diagram.png"/>
                <Image path="res/icons/objective_diagram.png"/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="ObjectiveStereotype" metaclass="Class" is-hidden="false" label="%ObjectiveStereotype.label" uid="">
                <Icon path="%ObjectiveTool.image"/>
                <TagTypes>
                    <TagType name="ObjTagId" uid="" label="%ObjectiveStereotype.properties.id" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="ObjTagPriority" uid="" label="$ObjectiveStereotype.properties.description" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="ObjTagDescription" uid="" label="%ObjectiveStereotype.properties.govdependency" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
             <Stereotype name="GoalStereotype" metaclass="ObjectiveStereotype" is-hidden="false" label="%GoalStereotype.label" uid="">
                <Icon path="%GoalTool.image"/>
            </Stereotype>
             <Stereotype name="SoftGoalStereotype" metaclass="ObjectiveStereotype" is-hidden="false" label="%SoftGoalStereotype.label" uid="">
                <Icon path="%SoftGoalTool.image"/>
            </Stereotype>
             <Stereotype name="ResourceStereotype" metaclass="Class" is-hidden="false" label="%ResourceStereotype.label" uid="">
                <Icon path="%ResourceTool.image"/>
            </Stereotype>
             <Stereotype name="ObstacleStereotype" metaclass="Class" is-hidden="false" label="%ObstacleStereotype.label" uid="">
                <Icon path="%ObstacleTool.image"/>
            </Stereotype>
            <Stereotype name="RefineObjStereotype" metaclass="Dependency" is-hidden="false" label="%RefineObjStereotype.label" uid="">
                <Icon path="%RefineObjTool.image"/>
            </Stereotype>
            <Stereotype name="AndStereotype" metaclass="RefineObjStereotype" is-hidden="false" label="%AndStereotype.label" uid="">
                <Icon path="%AndTool.image"/>
            </Stereotype>
            <Stereotype name="OrStereotype" metaclass="RefineObjStereotype" is-hidden="false" label="%OrStereotype.label" uid="">
                <Icon path="%OrTool.image"/>
            </Stereotype>
            <Stereotype name="XorStereotype" metaclass="RefineObjStereotype" is-hidden="false" label="%XorStereotype.label" uid="">
                <Icon path="%XorTool.image"/>
            </Stereotype> 
            <Stereotype name="MitigatesStereotype" metaclass="Dependency" is-hidden="false" label="%MitigatesStereotype.label" uid="">
                <Icon path="%MitigatesTool.image"/>
            </Stereotype>
            <Stereotype name="HindersStereotype" metaclass="Dependency" is-hidden="false" label="%HindersStereotype.label" uid="">
                <Icon path="%HindersTool.image"/>
            </Stereotype>                                                                                                    
            <Stereotype name="ContextDiagramStereotype" metaclass="StaticDiagram" is-hidden="false" label="%ContextDiagramStereotype.label" uid="c46ba1c0-9581-4b7e-b4e2-f0744a4f04b5">
                <Icon path="res/icons/context_diagram.png"/>
                <Image path="res/icons/context_diagram.png"/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="RequirementDiagram" metaclass="StaticDiagram" is-hidden="false" label="%RequirementsDiagramStereotype.label" uid="ef810f79-c808-4f48-943f-27c2d8c74333">
                <Icon path="res/icons/requirements_diagram.png"/>
                <Image path="res/icons/requirements_diagram.png"/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="UseCaseDiagram" metaclass="UseCaseDiagram" is-hidden="false" label="%UseCaseDiagramStereotype.label" uid="7b6c0ef8-e2a3-4a6f-9838-33edbe9e1a1b">
                <Icon path="res/icons/usecase_diagram.png"/>
                <Image path="res/icons/usecase_diagram.png"/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="UseCaseStereotype" metaclass="UseCase" is-hidden="false" label="Use Case" uid="3de1e727-2eaa-446e-a61f-4df78ee9ec09">
                <Icon path="res/icons/usecase_16.png"/>
                <Image path="res/icons/usecase_16.png"/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="ContextAttributeStereotype" metaclass="Class" is-hidden="false" label="%ContextAttributeStereotype.label" uid="3e8ce7a4-43d1-46b2-963a-3ea01c20dc60">
                <Icon path="res/icons/context_16.png"/>
                <Image path="res/icons/context_look_64.png"/>
                <TagTypes>
                    <TagType name="CATagId" uid="02040735-9308-49af-9a80-4cff5f095ed0" label="%ContextDependencyStereotype.properties.id" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="CATagText" uid="063180e5-b460-4d03-926a-e5010c1ac9b8" label="$ContextDependencyStereotype.properties.text" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="SituationOfInterestStereotype" metaclass="Class" is-hidden="false" label="%SituationOfInterestStereotype.label" uid="7454269e-aa2f-4534-8d2a-4224ccca5577">
                <Icon path="res/icons/situation_16.png"/>
                <Image path="res/icons/situation_64.png"/>
                <TagTypes>
                    <TagType name="SOIId" uid="28536190-5b6e-4a32-88df-17b2a9feef03" label="%SituationOfInterestStereotype.properties.id" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="SOIText" uid="8b8b9cb6-5186-4fb1-8f14-f39932a05346" label="%SituationOfInterestStereotype.properties.description" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="SOIDetection" uid="4da1ecc2-d106-43c0-9785-0bc8b6020dc7" label="%SituationOfInterestStereotype.properties.detection" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="RequirementStereotype" metaclass="Class" is-hidden="false" label="%RequirementStereotype.label" uid="ab289f43-9605-4853-a2f9-03e665e2754a">
                <Icon path="res/icons/requirements_16.png"/>
                <Image path="res/icons/requirements_64.png"/>
                <TagTypes>
                    <TagType name="ReqTagId" uid="10c44c3f-75d8-4d12-830f-197cf428449e" label="%RequirementStereotype.properties.id" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="TagText" uid="11aafaca-cd1a-4006-8f09-816ca7a57b7b" label="$RequirementStereotype.properties.description" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="RequirementContainerStereotype" metaclass="Package" is-hidden="false" label="%RequirementContainerStereotype.label" uid="cb19ff30-98c8-43f1-b098-e5d8ceba2782">
                <Icon path="res/icons/requirements_container_16.png"/>
                <Image path="%RequirementTool.image"/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="TestCaseStereotype" metaclass="Class" is-hidden="false" label="Test Case" uid="7908ce65-ef46-44c9-9d38-a5c7567f01b3">
                <Icon path="res/icons/testcase_16.png"/>
                <Image path="res/icons/testcase_64.png"/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="TriggersStereotype" metaclass="Dependency" is-hidden="false" label="%TriggersStereotype.label" uid="b62eca7a-05f3-481b-a29d-24899f211a5c">
                <Icon path="%ContextDependencyTool.image"/>
                <Image path="%ContextDependencyTool.image"/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="ContextDependencyStereotype" metaclass="Dependency" is-hidden="false" label="%ContextDependencyStereotype.label" uid="51d9ee5e-84f2-4f31-bbfe-5c2ac97d5569">
                <Icon path="%ContextDependencyTool.image"/>
                <Image path="%ContextDependencyTool.image"/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="IdentifiesStereotype" metaclass="Dependency" is-hidden="false" label="%IdentifiesStereotype.label" uid="a5f97076-da2d-4f08-b391-9c0a9341e6f0">
                <Icon path="%IdentifiesTool.image"/>
                <Image path="%IdentifiesTool.image"/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="ContextDeriveStereotype" metaclass="Dependency" is-hidden="false" label="%ContextDeriveStereotype.label" uid="f65478dc-7d4e-4d4f-891a-9fc076915c58">
                <Icon path="%ContextDeriveTool.image"/>
                <Image path="%ContextDeriveTool.image"/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="DeriveStereotype" metaclass="Dependency" is-hidden="false" label="%DeriveStereotype.label" uid="bee908f6-3a27-4708-b415-fc0028625df0">
                <Icon path="%DeriveStereotype.image"/>
                <Image path="%DeriveStereotype.image"/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="SatisfyStereotype" metaclass="Dependency" is-hidden="false" label="%SatisfyStereotype.label" uid="e149af64-3d69-4b6e-b09a-3a46c31c4804">
                <Icon path="%SatisfyStereotype.image"/>
                <Image path="%SatisfyStereotype.image"/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="VerifyStereotype" metaclass="Dependency" is-hidden="false" label="%VerifyStereotype.label" uid="cdbd29f6-9bdf-4575-83aa-0f453d119769">
                <Icon path="%VerifyStereotype.image"/>
                <Image path="%VerifyStereotype.image"/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="RefineStereotype" metaclass="Dependency" is-hidden="false" label="%RefineStereotype.label" uid="ce120e4a-84e7-44aa-abf6-ab8c048484c2">
                <Icon path="%RefineStereotype.image"/>
                <Image path="%RefineStereotype.image"/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="CopyStereotype" metaclass="Dependency" is-hidden="false" label="Copy" uid="a8e923e2-f188-4cf6-8be1-a798154206ac">
                <Icon path="res/icons/copy.png"/>
                <Image path="res/icons/copy.png"/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="PartStereotype" metaclass="Dependency" is-hidden="false" label="Part" uid="61732314-f937-496a-95ef-0ba24d13ee54">
                <Icon path="res/icons/part.png"/>
                <Image path="res/icons/part.png"/>
                <TagTypes/>
            </Stereotype>
            <MetaclassReference uid="08dbbc2b-9618-430c-823c-0795122efa3a" metaclass="ModelElement">
                <TagTypes>
                    <TagType name="TagName" uid="2727e4d0-b3ae-4518-85af-1639a76380e6" label="Name" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </MetaclassReference>
        </Profile>
    </Profiles>
    <Parameters/>
    <Gui>
        <Commands>
            <Command id="OpenDependencyTable" label="%OpenDependencyTable.label" tooltip="%OpenDependencyTable.tooltip" image="%OpenDependencyTable.image" group="%OpenDependencyTable.group" modify-model="true" group-image="%OpenDependencyTable.groupimage">
                <Scope metaclass="ModelTree"/>
                <Handler class="edu.casetools.rcase.modelio.menu.tables.OpenDependencyTable"/>
            </Command>
            <Command id="OpenContainerTable" label="%OpenContainerTable.label" tooltip="%OpenContainerTable.tooltip" image="%OpenContainerTable.image" group="%OpenContainerTable.group" modify-model="true" group-image="%OpenContainerTable.groupimage">
                <Scope metaclass="ModelTree"/>
                <Handler class="edu.casetools.rcase.modelio.menu.tables.OpenContainerTable"/>
            </Command>
            <Command id="OpenContextModelTable" label="%OpenContextModelTable.label" tooltip="%OpenContextModelTable.tooltip" image="%OpenContextModelTable.image" group="%OpenContextModelTable.group" modify-model="true" group-image="%OpenContextModelTable.groupimage">
                <Scope metaclass="ModelTree"/>
                <Handler class="edu.casetools.rcase.modelio.menu.tables.OpenContextModelTable"/>
            </Command>
            <Command id="CreateRequirement" label="%CreateRequirement.label" tooltip="%CreateRequirement.tooltip" image="%CreateRequirement.image" group="%CreateRequirement.group" modify-model="true" group-image="%CreateRequirement.groupimage">
                <Scope metaclass="ModelTree"/>
                <Handler class="edu.casetools.rcase.modelio.menu.nodes.CreateRequirement">
                    <HParameter name="metaclass" value="Requirement"/>
                    <HParameter name="stereotype" value="RequirementStereotype"/>
                </Handler>
            </Command>
            <Command id="CreateSituationOfInterest" label="%CreateSituationOfInterest.label" tooltip="%CreateSituationOfInterest.tooltip" image="%CreateSituationOfInterest.image" group="%CreateSituationOfInterest.group" modify-model="true" group-image="%CreateSituationOfInterest.groupimage">
                <Scope metaclass="ModelTree"/>
                <Handler class="edu.casetools.rcase.modelio.menu.nodes.CreateSituationOfInterest">
                    <HParameter name="metaclass" value="SituationOfInteres"/>
                    <HParameter name="stereotype" value="SituationOfInterestStereotype"/>
                </Handler>
            </Command>
            <Command id="CreateRequirementContainer" label="%CreateRequirementContainer.label" tooltip="%CreateRequirementContainer.tooltip" image="%CreateRequirementContainer.image" group="%CreateRequirementContainer.group" modify-model="true" group-image="%CreateRequirementContainer.groupimage">
                <Scope metaclass="ModelTree"/>
                <Handler class="edu.casetools.rcase.modelio.menu.nodes.CreateRequirementContainer">
                    <HParameter name="metaclass" value="RequirementContainer"/>
                    <HParameter name="stereotype" value="RequirementContainerStereotype"/>
                </Handler>
            </Command>
            <Command id="CreateTestCase" label="%CreateTestCase.label" tooltip="%CreateTestCase.tooltip" image="%CreateTestCase.image" group="%CreateTestCase.group" modify-model="true" group-image="%CreateTestCase.groupimage">
                <Scope metaclass="ModelTree"/>
                <Handler class="edu.casetools.rcase.modelio.menu.nodes.CreateTestCase">
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="TestCase"/>
                </Handler>
            </Command>
            <Command id="CreateUseCase" label="%CreateUseCase.label" tooltip="%CreateUseCase.tooltip" image="%CreateUseCase.image" group="%CreateUseCase.group" modify-model="true" group-image="%CreateUseCase.groupimage">
                <Scope metaclass="ModelTree"/>
                <Handler class="edu.casetools.rcase.modelio.menu.nodes.CreateUseCase">
                    <HParameter name="metaclass" value="UseCase"/>
                    <HParameter name="stereotype" value="UseCaseStereotype"/>
                </Handler>
            </Command>
            <Command id="CreateStakeholderDiagram" label="%CreateStakeholderDiagram.label" tooltip="%CreateStakeholderDiagram.tooltip" image="%CreateStakeholderDiagram.image" group="%CreateStakeholderDiagram.group" modify-model="true" group-image="%CreateStakeholderDiagram.groupimage">
                <Scope metaclass="ModelTree"/>
                <Handler class="edu.casetools.rcase.modelio.menu.diagrams.CreateStakeholderDiagram"/>
            </Command>
            <Command id="CreateObjectiveDiagram" label="%CreateObjectiveDiagram.label" tooltip="%CreateObjectiveDiagram.tooltip" image="%CreateObjectiveDiagram.image" group="%CreateObjectiveDiagram.group" modify-model="true" group-image="%CreateObjectiveDiagram.groupimage">
                <Scope metaclass="ModelTree"/>
                <Handler class="edu.casetools.rcase.modelio.menu.diagrams.CreateObjectiveDiagram"/>
            </Command>
            <Command id="CreateContextAttribute" label="%CreateContextAttribute.label" tooltip="%CreateContextAttribute.tooltip" image="%CreateContextAttribute.image" group="%CreateContextAttribute.group" modify-model="true" group-image="%CreateContextAttribute.groupimage">
                <Scope metaclass="Package"/>
                <Scope metaclass="Class"/>
                <Handler class="edu.casetools.rcase.modelio.menu.nodes.CreateContextAttribute"/>
            </Command>
            <Command id="CreateContextDependencyDiagram" label="%CreateContextDependencyDiagram.label" tooltip="%CreateContextDependencyDiagram.tooltip" image="%CreateContextDependencyDiagram.image" group="%CreateContextDependencyDiagram.group" modify-model="true" group-image="%CreateContextDependencyDiagram.groupimage">
                <Handler class="edu.casetools.rcase.modelio.menu.diagrams.CreateContextDependencyDiagram"/>
            </Command>
            <Command id="CreateRequirementsDiagram" label="%CreateRequirementsDiagram.label" tooltip="%CreateRequirementsDiagram.tooltip" image="%CreateRequirementsDiagram.image" group="%CreateRequirementsDiagram.group" modify-model="true" group-image="%CreateRequirementsDiagram.groupimage">
                <Scope metaclass="ModelTree"/>
                <Handler class="edu.casetools.rcase.modelio.menu.diagrams.CreateRequirementsDiagram"/>
            </Command>
            <Command id="CreateUseCaseDiagram" label="%CreateUseCaseDiagram.label" tooltip="%CreateUseCaseDiagram.tooltip" image="%CreateUseCaseDiagram.image" group="%CreateUseCaseDiagram.group" modify-model="true" group-image="%CreateUseCaseDiagram.groupimage">
                <Scope metaclass="ModelTree"/>
                <Handler class="edu.casetools.rcase.modelio.menu.diagrams.CreateUseCaseDiagram"/>
            </Command>
        </Commands>
        <Tools>
            <Tool id="StakeholderTool" label="%StakeholderTool.label" tooltip="%StakeholderTool.tooltip" image="%StakeholderTool.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.stakeholder.tools.elements.StakeholderTool">
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="StakeholderStereotype"/>
                </Handler>
            </Tool>
            <Tool id="UserProfileTool" label="%UserProfileTool.label" tooltip="%UserProfileTool.tooltip" image="%UserProfileTool.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.stakeholder.tools.elements.UserProfileTool">
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="UserProfileStereotype"/>
                </Handler>
            </Tool>
            <Tool id="ValueTool" label="%ValueTool.label" tooltip="%ValueTool.tooltip" image="%ValueTool.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.stakeholder.tools.elements.ValueTool">
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="ValueStereotype"/>
                </Handler>
            </Tool>
            <Tool id="ValueEnhancerTool" label="%ValueEnhancerTool.label" tooltip="%ValueEnhancerTool.tooltip" image="%ValueEnhancerTool.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.stakeholder.tools.elements.ValueEnhancerTool">
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="ValueEnhancerStereotype"/>
                </Handler>
            </Tool>
            <Tool id="ParticipationTool" label="%ParticipationTool.label" tooltip="%ParticipationTool.tooltip" image="%ParticipationTool.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.stakeholder.tools.elements.ParticipationTool">
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="ParticipationStereotype"/>
                </Handler>
            </Tool>
            <Tool id="EthicalProfileTool" label="%EthicalProfileTool.label" tooltip="%EthicalProfileTool.tooltip" image="%EthicalProfileTool.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.stakeholder.tools.elements.EthicalProfileTool">
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="EthicalProfileStereotype"/>
                </Handler>
            </Tool>
            <Tool id="GridTool" label="%GridTool.label" tooltip="%GridTool.tooltip" image="%GridTool.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.stakeholder.tools.elements.GridTool">
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="GridStereotype"/>
                </Handler>
            </Tool>
            <Tool id="InterestedInTool" label="%InterestedInTool.label" tooltip="%InterestedInTool.tooltip" image="%InterestedInTool.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.stakeholder.tools.relations.InterestedInTool">
                    <HParameter name="metaclass" value="Dependency"/>
                    <HParameter name="stereotype" value="InterestedInStereotype"/>
                </Handler>
            </Tool>
            <Tool id="RequestTool" label="%RequestTool.label" tooltip="%RequestTool.tooltip" image="%RequestTool.image">
                <Scope-source stereotype="StakeholderStereotype"/>
                <Scope-target stereotype="ValueStereotype"/>
                <Handler class="edu.casetools.rcase.modelio.diagrams.stakeholder.tools.relations.RequestTool">
                    <HParameter name="metaclass" value="Dependency"/>
                    <HParameter name="stereotype" value="RequestStereotype"/>
                </Handler>
            </Tool>
            <Tool id="ProvideTool" label="%ProvideTool.label" tooltip="%ProvideTool.tooltip" image="%ProvideTool.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.stakeholder.tools.relations.ProvideTool">
                    <HParameter name="metaclass" value="Dependency"/>
                    <HParameter name="stereotype" value="ProvideStereotype"/>
                </Handler>
            </Tool>
            <Tool id="HasTool" label="%HasTool.label" tooltip="%HasTool.tooltip" image="%HasTool.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.stakeholder.tools.relations.HasTool">
                    <HParameter name="metaclass" value="Dependency"/>
                    <HParameter name="stereotype" value="HasStereotype"/>
                </Handler>
            </Tool>
            <Tool id="UseCaseTool" label="%UseCaseTool.label" tooltip="%UseCaseTool.tooltip" image="%UseCaseTool.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.usecase.tools.UseCaseTool">
                    <HParameter name="metaclass" value="UseCase"/>
                    <HParameter name="stereotype" value="UseCaseStereotype"/>
                </Handler>
            </Tool>
            <Tool id="ContextAttributeTool" label="%ContextAttributeTool.label" tooltip="%ContextAttributeTool.tooltip" image="%ContextAttributeTool.image">
                <Scope-target metaclass="ModelTree"/>
                <Handler class="edu.casetools.rcase.modelio.diagrams.context.tools.elements.ContextAttributeTool">
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="ContextAttributeStereotype"/>
                </Handler>
            </Tool>
            <Tool id="RequirementTool" label="%RequirementTool.label" tooltip="%RequirementTool.tooltip" image="%RequirementTool.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.requirements.tools.elements.RequirementTool">
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="RequirementStereotype"/>
                </Handler>
            </Tool>
            <Tool id="SituationOfInterestTool" label="%SituationOfInterestTool.label" tooltip="%SituationOfInterestTool.tooltip" image="%SituationOfInterestTool.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.requirements.tools.elements.SituationOfInterestTool">
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="SituationOfInterestStereotype"/>
                </Handler>
            </Tool>
            <Tool id="RequirementContainerTool" label="%RequirementContainerTool.label" tooltip="%RequirementContainerTool.tooltip" image="%RequirementContainerTool.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.requirements.tools.elements.RequirementContainerTool">
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="RequirementContainerStereotype"/>
                </Handler>
            </Tool>
            <Tool id="TestCaseTool" label="%TestCaseTool.label" tooltip="%TestCaseTool.tooltip" image="%TestCaseTool.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.requirements.tools.elements.TestCaseTool">
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="TestCaseStereotype"/>
                </Handler>
            </Tool>
            <Tool id="TriggersTool" label="%TriggersTool.label" tooltip="%TriggersTool.tooltip" image="%TriggersTool.image">
                <Scope-source metaclass="ContextAttributeStereotype"/>
                <Scope-target stereotype="ModelTree"/>
                <Handler class="edu.casetools.rcase.modelio.diagrams.requirements.tools.relations.TriggersTool">
                    <HParameter name="metaclass" value="Dependency"/>
                    <HParameter name="stereotype" value="TriggersStereotype"/>
                </Handler>
            </Tool>
            <Tool id="ContextDependencyTool" label="%ContextDependencyTool.label" tooltip="%ContextDependencyTool.tooltip" image="%ContextDependencyTool.image">
                <Scope-source metaclass="ModelTree"/>
                <Scope-target stereotype="ContextAttributeStereotype"/>
                <Handler class="edu.casetools.rcase.modelio.diagrams.context.tools.relations.ContextDependencyTool">
                    <HParameter name="metaclass" value="Dependency"/>
                    <HParameter name="stereotype" value="ContextDependencyStereotype"/>
                </Handler>
            </Tool>
            <Tool id="IdentifiesTool" label="%IdentifiesTool.label" tooltip="%IdentifiesTool.tooltip" image="%IdentifiesTool.image">
                <Scope-source metaclass="ModelTree"/>
                <Scope-target stereotype="IdentifiesStereotype"/>
                <Handler class="edu.casetools.rcase.modelio.diagrams.context.tools.relations.IdentifiesTool">
                    <HParameter name="metaclass" value="Dependency"/>
                    <HParameter name="stereotype" value="IdentifiesStereotype"/>
                </Handler>
            </Tool>
            <Tool id="ContextDeriveTool" label="%ContextDeriveTool.label" tooltip="%ContextDeriveTool.tooltip" image="%ContextDeriveTool.image">
                <Scope-source stereotype="ContextAttributeStereotype"/>
                <Scope-target stereotype="ContextAttributeStereotype"/>
                <Handler class="edu.casetools.rcase.modelio.diagrams.context.tools.relations.DeriveTool">
                    <HParameter name="metaclass" value="Dependency"/>
                    <HParameter name="stereotype" value="ContextDeriveStereotype"/>
                </Handler>
            </Tool>
            <Tool id="Problem" label="%Problem.label" tooltip="%Problem.tooltip" image="%Problem.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.context.tools.notes.ProblemNoteTool">
                    <HParameter name="metaclass" value="Note"/>
                </Handler>
            </Tool>
            <Tool id="Rationale" label="%Rationale.label" tooltip="%Rationale.tooltip" image="%Rationale.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.context.tools.notes.RationaleNoteTool">
                    <HParameter name="metaclass" value="Note"/>
                </Handler>
            </Tool>
            <Tool id="ReqPart" label="%Part.label" tooltip="%Part.tooltip" image="%Part.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.requirements.tools.relations.PartTool">
                    <HParameter name="metaclass" value="Dependency"/>
                    <HParameter name="stereotype" value="PartStereotype"/>
                </Handler>
            </Tool>
            <Tool id="ReqCopy" label="%Copy.label" tooltip="%Copy.tooltip" image="%Copy.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.requirements.tools.relations.CopyTool">
                    <HParameter name="metaclass" value="Dependency"/>
                    <HParameter name="stereotype" value="CopyStereotype"/>
                </Handler>
            </Tool>
            <Tool id="ReqDerive" label="%ContextDeriveTool.label" tooltip="%ContextDeriveTool.tooltip" image="%ContextDeriveTool.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.requirements.tools.relations.ReqDeriveTool">
                    <HParameter name="metaclass" value="Dependency"/>
                    <HParameter name="stereotype" value="DeriveStereotype"/>
                </Handler>
            </Tool>
            <Tool id="ReqSatisfy" label="%Satisfy.label" tooltip="%Satisfy.tooltip" image="%Satisfy.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.requirements.tools.relations.SatisfyTool">
                    <HParameter name="metaclass" value="Dependency"/>
                    <HParameter name="stereotype" value="SatisfyStereotype"/>
                </Handler>
            </Tool>
            <Tool id="ReqVerify" label="%Verify.label" tooltip="%Verify.tooltip" image="%Verify.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.requirements.tools.relations.VerifyTool">
                    <HParameter name="metaclass" value="Dependency"/>
                    <HParameter name="stereotype" value="VerifyStereotype"/>
                </Handler>
            </Tool>
            <Tool id="ReqRefine" label="%Refine.label" tooltip="%Refine.tooltip" image="%Refine.image">
                <Handler class="edu.casetools.rcase.modelio.diagrams.requirements.tools.relations.RefineTool">
                    <HParameter name="metaclass" value="Dependency"/>
                    <HParameter name="stereotype" value="RefineStereotype"/>
                </Handler>
            </Tool>
        </Tools>
        <ContextualMenu>
            <CommandRef refid="CreateUseCase"/>
            <CommandRef refid="CreateRequirementContainer"/>
            <CommandRef refid="CreateRequirement"/>
            <CommandRef refid="CreateSituationOfInterest"/>
            <CommandRef refid="CreateTestCase"/>
            <CommandRef refid="CreateContextAttribute"/>
            <CommandRef refid="CreateStakeholderDiagram"/>
            <CommandRef refid="CreateObjectiveDiagram"/>            
            <CommandRef refid="CreateRequirementsDiagram"/>
            <CommandRef refid="CreateUseCaseDiagram"/>
            <CommandRef refid="CreateContextDependencyDiagram"/>
            <CommandRef refid="OpenContainerTable"/>
            <CommandRef refid="OpenDependencyTable"/>
            <CommandRef refid="OpenContextModelTable"/>
        </ContextualMenu>
        <Diagrams>
            <DiagramType base-diagram="StaticDiagram" stereotype="StakeholderDiagramStereotype">
                <Handler class="edu.casetools.rcase.modelio.diagrams.stakeholder.StakeholderDiagramCustomizer"/>
            </DiagramType>
            <DiagramType base-diagram="StaticDiagram" stereotype="ContextDiagramStereotype">
                <Handler class="edu.casetools.rcase.modelio.diagrams.context.ContextDependencyDiagramCustomizer"/>
            </DiagramType>
            <DiagramType base-diagram="UseCaseDiagram" stereotype="UseCaseDiagram">
                <Handler class="edu.casetools.rcase.modelio.diagrams.usecase.UseCaseDiagramCustomizer"/>
            </DiagramType>
            <DiagramType base-diagram="StaticDiagram" stereotype="RequirementDiagram">
                <Palette keepBasePalette="false"/>
                <Handler class="edu.casetools.rcase.modelio.diagrams.requirements.RequirementDiagramCustomizer"/>
            </DiagramType>
        </Diagrams>
        <Views>
            <PropertyPage id="RcasePropertyPage" class="edu.casetools.rcase.modelio.properties.RcasePropertyPage" label="%ContextAttributeTool.PropertyPage.label" image="%ContextAttributeTool.PropertyPage.image"/>
        </Views>
    </Gui>
    <Dependencies>
        <Required name="ModelerModule" version="8.4.05.9023"/>
    </Dependencies>
</Module>
